.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.listItem {
  padding: 0.25rem;
  margin: 0.5rem;
  border-radius: 8px;
  background-color: aliceblue;
}
.input {
  font-size: 1.1rem;
  outline: none;
}
.btn {
  outline: none;
}
.io {
  display: flex;
  margin: 0.5rem;
  padding: 0.25rem;
}
